<nav class="nav"
	style="width: 80%; left: 50%; transform: translate(-50%)">
	<div class="nav-left">
		<a class="nav-item">
			<h2 class="title">movies</h2>
		</a>
	</div>

	<span class="nav-toggle"> <span></span> <span></span> <span></span>
	</span>


	<div class="nav-center">
		<div class="nav-item">
			<input [(ngModel)]="discMovie" [typeahead]="dataSource"
				typeaheadOptionField="movie_title" class="input">
		</div>
	</div>

	<div class="nav-right nav-menu">
		<a class="nav-item" routerLink="/home"> Home </a> <a class="nav-item"
			routerLink="/analytics"> Analytics </a>
		<div class="nav-item">
			<div class="field is-grouped"></div>
		</div>
	</div>
</nav>

<div style="margin-top: 0px !important;">
	<router-outlet></router-outlet>
</div>


