

	<div class="columns">
		<div class="column is-2">
			<nav class="panel" *ngIf="(movieStore.isGenresListAvailable | async)"
				style="text-align: center">
				<div style="width: 80%; margin-top: 39%; float: right;">

					<p class="panel-heading">Filter by Genre</p>

					<div style="height: 400px; overflow-y: scroll">
						<label class="panel-block"
							*ngFor="let genre of movieStore.availableGenres"> <input
							type="checkbox"
							(click)="addGenreInFiltres(genre,$event.target.checked)"
							[checked]="isGenreChecked(genre)"> {{genre}}
						</label>
					</div>

					<div class="panel-block">
						<button class="button is-primary is-outlined is-fullwidth"
							(click)="resetFilters()">Reset all filters</button>
					</div>
				</div>
			</nav>
		</div>
		<div class="column is-9">
			<div class="tabs is-right">
				<div style="border-bottom: 1px solid #ccc">
					<p class="control">

						<span>{{movies.length}} movies found.</span>

					</p>
				</div>
				<ul>
					<li>Sort By</li>
					<li [class.is-active]="sortBy.sortType==0" (click)="sortByBudget()"><a><span
							class="sort-anchor">Budget</span> <i class="fa"
							[class.fa-arrow-down]="sortBy.order==1 && sortBy.sortType==0"
							[class.fa-arrow-up]="sortBy.order==0 && sortBy.sortType==0"></i></a></li>
					<li [class.is-active]="sortBy.sortType==1" (click)="sortByYear()"><a><span
							class="sort-anchor">Year</span> <i class="fa"
							[class.fa-arrow-down]="sortBy.order==1 && sortBy.sortType==1"
							[class.fa-arrow-up]="sortBy.order==0 && sortBy.sortType==1"></i></a></li>
				</ul>
			</div>

			<div class="columns is-multiline" style="margin-top: 50px">

				<div class="column is-3 is-mobile"
					*ngFor="let movie of currPagemovies">
					<a [attr.href]="movie.movie_imdb_link" target="_blank">
						<div class="box">
							<div class="title">{{movie.movie_title}}</div>
							<p>
								<strong>Year </strong>{{movie.title_year}}
							</p>
							<p>
								<strong>Director </strong>{{movie.director_name}}
							</p>
							<p>
								<strong>Actors </strong>{{movie.actor_1_name}},{{movie.actor_2_name}}
							</p>
							<p style="word-wrap: break-word;">
								<strong>Genres </strong>{{movie.genres}}
							</p>
							<p>
								<strong>Language </strong>{{movie.language}}
							</p>
							<p>
								<strong>Country </strong>{{movie.country}}
							</p>
							<p>
								<strong>Content Rating </strong>{{movie.content_rating}}
							</p>
							<p>
								<strong>Budget </strong>{{movie.budget}}
							</p>

						</div>
					</a>

				</div>


			</div>
			<div class="columns" style="text-align: center;">
				<div class="column">
					<pager [totalItems]="totalItems" [(ngModel)]="currentPage"
						(pageChanged)="pageChanged($event)" pageBtnClass="pagination-link"
						[itemsPerPage]="itemsPerPage"></pager>
				</div>
			</div>

		</div>
	</div>

